# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.FBXExporter.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\user\RiderProjects\FBXExporter\.idea\.idea.FBXExporter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
